@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Amber Cartoon';
  src: url('/fonts/AmberCartoon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Amiger';
  src: url('/fonts/Amiger-Cartoon.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

data-testid[ockConnectAccountButtonInner] {
  background-color: red !important;
}

.bg-ellipse {
  position: relative;
  width: 100%;
  height: 100vh;
}

.mainBg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #202037; 
}

.mainBg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/img/bg_ellipse.svg') no-repeat center center;
  background-size: 100% auto;
  pointer-events: none;
}

.mainBg2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #202037; 
}

.mainBg2::before {
  content: '';
  position: absolute;
  width: 335.89px;
  height: 353.01px;
  left: calc(50% - 167.94px); /* Center the circle horizontally */
  top: 279.4px; /* Position from the top as required */
  background: radial-gradient(circle, #1849fbb8 72%, transparent 72%);
  pointer-events: none;
}

.btn__shadow {
  box-shadow: 0px 0px 25px 0px #FF5C009E;
}

.title__shadow {
  text-shadow: 3px 3px 0px 0px #000000;
}